/* Global Styling */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
}

/* Hero Container */

#title {
  /* background: linear-gradient(90deg, #c074b2, #8ab5e8); */
  background: linear-gradient(
    135deg,
    rgba(172, 116, 178, 0.7) 0%,
    /* rgba(148, 181, 222, 1) 60%, */ rgba(157, 181, 223, 1) 60%,
    /* rgba(138, 181, 232, 1) 80% */ rgba(147, 171, 223, 1) 80%
  );
  color: #fff;
  position: relative;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navbar Styling */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Hero Styling */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.btn,
.download-btn {
  font-size: 1.5rem;
  width: 190px;
}

.hero-img {
  position: absolute;
  right: 6px;
  transform: translate(0px, -80px);
  height: 410px;
}

#hero br {
  display: none;
}

.play-store {
  margin-left: 20px;
}

@media (max-width: 1570px) {
  .hero-img {
    transform: translate(50px, -80px);
  }
}

@media (max-width: 1212px) {
  .play-store {
    margin-left: 0;
  }
  #hero br {
    display: initial;
  }
}

@media (max-width: 1200px) {
  .card {
    height: 450px;
  }
}

@media (min-width: 991px) and (max-width: 1201px) {
  a:hover {
    text-decoration: none !important;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding-bottom: 0rem;
  }
  .hero-img {
    position: relative;
    transform: translate(0px, 0px);
  }
  #title {
    text-align: center;
  }
}

@media (max-width: 591px) {
  .play-store {
    margin-left: 0;
  }
  #hero br {
    display: initial;
  }
}

@media (max-width: 575px) {
  .hero-img {
    position: relative;
    transform: translate(-30px, 0px);
  }
}

/* Features Section */

#features {
  background: #fff;
  padding: 7% 15%;
  text-align: center;
  position: relative;
}

.features_box {
  padding: 20px;
}

.features_icons {
  color: #93abdf;
  /* color: #a3bbff; */
  /* color: #343a40; */
  padding-bottom: 1rem;
}

h3 {
  font-family: 'Montserrat' sans-serif;
  font-weight: 900;
}

p {
  color: #7c7c7c;
}

/* Testimonials Section */

#testimonials {
  text-align: center;
  background: #93abdf;
  color: #fff;
}

.carousel-inner {
  padding: 7% 15%;
}

h2 {
  font-family: 'Montserrat' sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #93abdf;
  text-align: center;
  padding-bottom: 3%;
}

.press-logos {
  width: 15%;
  margin: 20px 20px 50px;
}

@media (max-height: 700px) {
  .testimonial-img {
    display: none;
  }
  em {
    display: none;
  }
}

@media (max-height: 550px) {
  #testimonials {
    height: 100vh;
  }
  .testimonial-text {
    font-size: 2.25rem;
  }
}

@media (max-height: 350px) {
  .testimonial-text {
    font-size: 1.75rem;
  }
}

/* Pricing Section */

#pricing {
  text-align: center;
  padding: 7% 10%;
}

.pricing-subtext {
  font-size: 18px;
  color: black;
}

#pricing p {
  margin-bottom: 5%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  min-height: 400px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 975px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: 70%;
    margin-bottom: 10%;
  }

  .card-2 {
    margin-bottom: 0%;
  }
}

@media (max-width: 540px) {
  .card {
    min-height: 475px !important;
    min-width: 300px;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  margin-bottom: 16px;
}

.feature-list {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.feature-row {
  display: flex;
  align-items: center;
}

.fa-check {
  align-self: flex-start;
  margin-top: 2px;
}

.card-text {
  color: black;
  display: inline-block;
  margin-left: 8px;
}

/*  Pricing Button Styling */

.btn {
  transition: all 0.5s ease;
}

.card-body-btn {
  position: absolute;
  bottom: 25px;
  width: 80%;
  transform: translateX(-50%);
  left: 50%;
}

.pricing-btn {
  border-radius: 2.25rem;
  bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 40px;
  width: 100%;
}

.btn-outline-primary {
  border-color: #93abdf;
  color: #93abdf;
}

.btn-outline-primary:hover {
  border-color: #93abdf;
  color: white;
  background-color: #93abdf;
}

.btn-outline-primary:active {
  border-color: #6684c3 !important;
  color: white !important;
  background-color: #6684c3 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: #93abdf;
  border-color: #93abdf;
}

.btn-primary:hover {
  background-color: white;
  color: #93abdf;
  border-color: #93abdf;
}

.btn-primary:active {
  background-color: #6684c3 !important;
  border-color: #6684c3 !important;
}

h5 {
  font-size: 1.5rem;
  font-weight: 900;
}

/* Call to Action Section */

#cta {
  text-align: center;
  background-color: #93abdf;
  color: #fff;
  padding: 7% 15%;
}

#cta h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

#footer i {
  font-size: 1.3rem;
}
